@font-face {
  font-family: pathway-extreme-semibold;
  src: url('../fonts/PathwayExtreme-SemiBold.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: heorot;
  src: url('../fonts/Heorot-4rLK.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

:root {
  --main-font: pathway-extreme-semibold, Helvetica, sans-serif, Arial;
  --main-accent-color: #141f00;
  --error-font-color: #8d0000;
}

